@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
*,::before,::after{
  box-sizing: border-box;
}

  body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #F8F8FC;
  }
  .top{
      margin-top: 80px;
  }

  h1{
    margin: 0;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  
  .drop__card, .drop__data{
    display: flex;
    align-items: center;
  }
  
  .drop__card{
    justify-content: space-between;
    padding: .75rem 1.25rem .75rem .75rem;
    background-color: #fff;
    box-shadow: 4px 4px 16px #E1E1E1, -2px -2px 16px #FFF;
    margin-bottom: 20px;
  }
  .drop__card:hover{
    cursor: pointer;
  }
  
  .drop__img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 1rem;
    border: 4px solid #cecece;
  }
  
  .drop__name{
    font-size: 1rem;
    color: #272A3A;
    font-weight: 500;
  }
  
  .drop__profession{
    font-size: .813rem;
    color: #8A8EAA;
  }
  
  .drop__social{
    margin: 0 .375rem;
    color: #8A8EAA;
    transition: .4s;
  }
  
  .drop__social:hover{
    color: #272A3A;
  }
  
  /* Class name for the chosen item */
  .sortable-chosen{
    box-shadow: 8px 8px 32px #E1E1E1;
  }
  
  /* Class name for the dragging item */
  .sortable-drag{
    opacity: 0;
  }
  

  .circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #cecece;
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  
  .circulo > h2 {
    font-family: sans-serif;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  